.card-container {
    background: #282828;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border: 1px solid #282828;
    border-radius: 18px;
    margin: 0 12px;
    padding: 0;
    width: 334px;
    height: 328px;
}

.card-container img {
    margin-top: 44px;
    height: 72px;
}

.card-container h3 {
    margin-top: 29px;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0;
}

.card-container p {    
    word-wrap: break-word; 
    margin-top: 7px;
    font-size: 15px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .009rem;
}