.button-landing {
	border-radius: 10px;
	text-shadow: none;
	padding: 12px 16px;
	font-family: "Figtree", sans-serif;
	font-weight: 600;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
	background-color: #678fff;
	color: #eeeeee;
	transition: background-color 0.15s ease-out;
}
