.search-form {
	
	justify-self: center;
	height: 46px;
	max-width: 665px;
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: #333333;
	border-color: #333333;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	display: flex;
	margin-top: 40px;
}

.search-input {
	font-family: "Figtree", sans-serif;
	height: 100%;
	width: 665px;
	margin: 0;
	position: relative;
	background: transparent;
	outline: none;
	border: none;
	padding: 0;
	align-self: center;
	padding-left: 16px;
	color: #eeeeee;
	font-size: 18px;
	padding-top: 1px;
}

.search-input::placeholder {
	font-family: "Figtree", sans-serif;
	color: #989898;
	font-size: 18px;
}

/*FALTA HOVER al boton*/
.search-button {
	transform: scale(-1, 1);
	font-size: 1.3em;
	padding: 0 0.64em;
	color: #979797;
	background: transparent;
	outline: none;
	border: none;
	height: 100%;
}